---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Hero from '../components/Hero.astro';
import SocialProof from '../components/SocialProof.astro';
import Historia from '../components/Historia.astro';
import Productos from '../components/Productos.astro';
import ComoFunciona from '../components/ComoFunciona.astro';
import Testimonios from '../components/Testimonios.astro';
import Ubicacion from '../components/Ubicacion.astro';
import FAQ from '../components/FAQ.astro';
import CTAFinal from '../components/CTAFinal.astro';
import Footer from '../components/Footer.astro';
import WhatsAppSticky from '../components/WhatsAppSticky.astro';
import CookieBanner from '../components/CookieBanner.astro';

import '../styles/global.css';
---

<Layout>
  <NavBar />
  <main>
    <Hero />
    <SocialProof />
    <Historia />
    <Productos />
    <ComoFunciona />
    <Testimonios />
    <Ubicacion />
    <FAQ />
    <CTAFinal />
  </main>
  <Footer />
  <WhatsAppSticky />
  <CookieBanner />
</Layout>
